<head>
  <title>Kanban Krazy</title>
</head>

<body>

</body>

<template name="tasks">
  <div class="container">
    <header>
      <h1>To Do ({{incompleteCount}})</h1>

      <label class="hide-completed">
        <input type="checkbox" checked="{{hideCompleted}}" />
        Hide Completed Tasks
      </label>

      <form class="new-task">
        <input type="text" id="title" placeholder="Type to add a new task" />
      </form>
    </header>

    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>

    <button type="checkbox" checked="{{checked}}" class="toggle-checked">
    </button>

    <span class="text">{{title}}</span>
  </li>
</template>