.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.tasks, .user, .edit-box {
  flex: 1 100%;
}

.edit-box {
  margin: 0 auto;
  padding: 10px;
}

/* Medium Screens */

@media all and (min-width: 600px){
  .tasks {
    flex: 1 auto;
    padding: 10px;
    width: 32%;
  }

  .edit-box {
    flex: 1 auto;
    width: 64%;
  }
}

/* Large Screens */

@media all and (min-width: 800){
  .tasks-1 {
    order: 1;
  }
  .tasks-2 {
    order: 2;
  }
  .tasks-3 {
    order: 3;
  }
}
