html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  font: 400 0.875rem/1.5 "Helvetica Neue", Arial, Helvetica,"Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100%;
  background-color: #2c3338;
  color: #606468;
  background-image: linear-gradient(to bottom, #2C3338, #2C3338 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0px;
  bottom: 25px;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  overflow: auto;
  color: #393939;
}

.container {
  max-width: 100%;
  min-height: 100%;
  margin: 0 20px;
  border-radius:5px;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.hide-completed {
  font-size: 13px;
  font-weight: normal;
  float: right;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

h2 {
  color: #FFFFFF;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.user {
  background-color: #1C252B;
  border-bottom: 1px solid #666;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.profile {
  float: right;
  margin-right: 40px;
}

.menu-item {
  margin-right: 20px;
}

.page404 {
  font-size: 30px;
  color: #FFFFFF;
}

.new-task-todo input {
  font-weight: normal;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: #000;
}

.new-task-todo input:focus{
  outline: 0;
}

.new-task-doing input {
  font-weight: normal;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: #000;
}

.new-task-doing input:focus{
  outline: 0;
}

.new-task-done input {
  font-weight: normal;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: #000;
}

.new-task-done input:focus{
  outline: 0;
}

#title_todo{
  padding: 10px;
}

#title_doing{
  padding: 10px;
}

#title_done{
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
}

.scroll {
  max-height: 540px;
  flex-direction: column;
  position: relative;

  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;

  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(96,100,104,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(96,100,104,0.4);
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  color: #000;
  padding: inherit;
}

li {
  position: relative;
  list-style: none;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task-todo input {
    padding-bottom: 5px;
  }

  .new-task-doing input {
    padding-bottom: 5px;
  }

  .new-task-done input {
    padding-bottom: 5px;
  }
}

[draggable] {
  position: relative;
  -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.list {
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 10px;
  max-width: 400px;
  max-height: 660px;

  -webkit-flex: 1;
          flex: 1;
}

.list>header {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  cursor: grab;
  width: 100%;
  padding: 0 10px;
}

article {
  border-radius: 3px;
  margin-top: 5px;
}

article>header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

.card {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
  width: 100%;
}

.card:hover {
  background-color: #F0F0F0;
}

.detail {
  font-size: 12px;
  color: #939393;
  margin: 0 15px;
  width: 100%;
}

.hidden {
  display: none;
}

[data-fakenode] {
  background-color: gray;
}